CT_CONFIG_VERSION="4"
CT_OBSOLETE=y
CT_EXPERIMENTAL=y
CT_ARCH_XTENSA=y
CT_ARCH_BE=y
CT_MULTILIB=y
CT_EXTRA_CFLAGS_FOR_HOST="-DVOID_SIGHANDLER -Dstrchr=strchr -Wno-error=implicit-function-declaration"
CT_TARGET_CFLAGS="-mlongcalls -mtext-section-literals"
CT_TARGET_VENDOR="fsf"
CT_BINUTILS_SRC_DEVEL=y
CT_BINUTILS_DEVEL_URL="https://github.com/espressif/binutils-gdb.git"
CT_BINUTILS_DEVEL_REVISION="0104f7d3"
CT_BINUTILS_V_2_30=y
CT_NEWLIB_SRC_DEVEL=y
CT_NEWLIB_DEVEL_URL="https://github.com/espressif/newlib-esp32.git"
CT_NEWLIB_DEVEL_REVISION="fdbb7b81"
CT_LIBC_NEWLIB_TARGET_CFLAGS="-DSIGNAL_PROVIDED -DABORT_PROVIDED -DMALLOC_PROVIDED"
CT_LIBC_NEWLIB_DISABLE_SUPPLIED_SYSCALLS=y
# CT_LIBC_NEWLIB_GLOBAL_ATEXIT is not set
CT_GCC_SRC_DEVEL=y
CT_GCC_DEVEL_VCS_git=y
CT_GCC_DEVEL_URL="https://github.com/espressif/gcc.git"
CT_GCC_DEVEL_REVISION="bae67e9e"
CT_CC_GCC_CORE_EXTRA_CONFIG_ARRAY="--enable-threads=posix --without-isl --disable-graphite"
# CT_CC_GCC_USE_GRAPHITE is not set
# CT_CC_GCC_USE_LTO is not set
CT_CC_GCC_EXTRA_CONFIG_ARRAY="--without-isl --disable-graphite"
CT_COMP_TOOLS_AUTOCONF=y
CT_COMP_TOOLS_AUTOMAKE=y
